.logo {
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  /* color: #FECF00;*/
  /*color: #055769;*/
  color: white;

}

body {
  background-color: #FFFFF3;
}
/*#71A69B*/
.nav-tabs {
  font-size: 45px;
 /* color: #FECF00;*/
  /*color: #055769;*/
  color: white;
}

#main {
  padding: 30px;
}

.sidebar {
  padding: 30px;
  position: relative;
}

#sidebar-content {
  position: absolute;
  bottom: 0;
}

.title {
  text-align: center;
}

#animation {
  height: 500px;
  width: 100%;
}

.negative {
  padding-left: 105%;
  padding-bottom: 85%
}

.neutral {
  padding-left: 105%;
  padding-bottom: 90%
}

.positive {
  padding-left: 105%;
}

#legend {
  padding: 10%;
}

#gradient {
  background: -webkit-linear-gradient(#BD0000,#D3F3EE,#009F00); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#BD0000,#D3F3EE,#009F00); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#BD0000,#D3F3EE,#009F00); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#BD0000,#D3F3EE,#009F00); /* Standard syntax */
  width: 20%;
  height: 100px;
  /*#BD0000,#D3F3EE,#009F00*/
}

.buttons {
  padding: 10%;
}

.button {
 background-color: #71A69B;
 border-radius: 15px;
 width: 100%;
}

footer {
  text-align: center;
  font-weight: bold;
  background-color: #055769;
  color: white;
}

svg {
  width: 100%;
  height: 100%;
}
