<!DOCTYPE html>
<html ng-app="Athena">

  <!-- Note: We no longer have angular text directly placed as content
    inside tags (for example, {{ article.title }} ) because while page
    is loading, that exact text appears temporarily before the angular
    app fully activates. Instead, we use ng-bind so that the angular
    app will put in the appropriate content when the app has loaded.
    We still kept the {{ }} text in the document, just commented out,
    so you can easily see where the angular content is supposed to go.
    For article titles, we use ng-bind-html to bind the html object
    that is returned out of the descape function so that escaped
    characters will render correctly on the page.
  -->

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Athena</title>
    <link href="client/assets/css/app.css" rel="stylesheet" type="text/css">
    <link href="client/assets/css/index.css" rel="stylesheet" type="text/css">
    <script src="client/lib/d3/d3.js" charset="utf-8"></script>
    <script src="client/lib/angular/angular.min.js" charset="utf-8"></script>
    <!-- firebase.js and angularfire.min.js needed for angular app to
      retrieve data from firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>
    <!-- app.js is where our angular module is defined -->
    <script src="client/app/app.js" charset="utf-8"></script>
  </head>

  <body ng-controller="AppController">
    <div class="grid-frame vertical">

      <!-- Header -->
      <div class="grid-content shrink" style="padding: 0;">
        <ul class="primary menu-bar" ng-click="drawerOpen = false">
          <li><a><strong class="logo">Athena</strong>Get a Feel for the News</a></li>
          <!-- each news category displayed in header,
            these will run loadCategory when clicked on -->
          <li ng-repeat="category in categories" ng-click="loadCategory(category)">
            <a><strong class="nav-tabs" ng-bind="category">
              <!-- {{ category }} --><!-- See note at top about ng-bind -->
            </strong></a>
          </li>
        </ul>
      </div>

      <div class="grid-block">

        <!-- Main body -->
        <div id="main" class="medium-10 grid-block">
          <div class="medium-12" >

            <!-- Dropdown and selected article title -->
            <div class="select-article">
              <div><strong>Select one of today's top articles</strong></div>
              <!-- The ng-model directive is set to selected.ind, so
                whatever value is assigned to the option that is selected
                will be assigned to selected.ind. The ng-change direction
                calls loadArticle with that value passed in as an argument.
                ng-init is needed to assign the inital value of
                selected.ind. Without it, the dropdown will initally
                generate a blank option when you open the dropdown -->
              <select id="article-dropdown" name="articleSelect" ng-init="selected.ind=0" ng-model="selected.ind" ng-change="loadArticle(selected.ind)">
                <!-- Each article for the current selected news category
                  will be an option inside the dropdown menu. We assign the
                  option's value to be $index (which angular recognizes as
                  the index of article in the articles array), and that
                  value is passed to the ng-model in the select (the parent
                  element of the option) when that option is selected in the
                  dropdown menu. The ng-selected will by default have the
                  first option in the list be selected whenever a new
                  category loads -->
                <option ng-repeat="article in articles" value="{{ $index }}" ng-selected="$first" ng-bind-html="descape(article.title)">
                  <!-- {{ article.title }} --><!-- See note at top about ng-bind -->
                </option>
              </select>

              <!-- displays the selected artile's title, and links to the
                article's url (in a new tab)-->
              <div class="title">
                <a href="{{ selection.article.url }}" target="_blank"><strong><h3 ng-bind-html="descape(selection.article.title)"><!-- {{ selection.article.title }} --><!-- See note at top about ng-bind --></h3></strong></a>
              </div>

            </div> <!-- end select-article -->

            <!-- D3 graph gets rendered inside this div -->
            <div class="d3-view medium-12"  id="animation" ></div>

          </div>
        </div> <!-- end id="main" -->

        <!-- Sidebar -->
        <div class="medium-2 grid-block">
          <div class="sidebar medium-12">
            <div id="sidebar-content">

              <!-- Another more explicit link to the article -->
              <div id="news-link">
                <div>
                  <a href="{{ selection.article.url }}" target="_blank">
                    <strong>Click here for the full story on NY Times</strong>
                  </a>
                </div>
              </div> <!-- end id="news-lnk" -->

              <!-- Legend for color and size -->
              <div id="legend">
                <h5><b>Legend</b></h5>
                <h6><strong>Sentiment</strong></h6>
                <div id="gradient">
                  <div class="negative">Negative</div>
                  <div class="neutral">Neutral</div>
                  <div class="positive">Positive</div>
                </div> <!-- end id="gradient" -->
                <div id="relevance">
                  <h6><strong>Relevance</strong></h6>
                  Size is indicative of relevance
                </div> <!-- end id="relevance" -->
              </div> <!-- end id="legend" -->

              <!-- Buttons to select graph type in here -->
              <div id="visuals">
                <strong>Choose Visualization</strong>
                <div class="buttons">
                  <div ng-repeat="(graphType, func) in graphTypes">
                    <div>
                      <a class="button" ng-click="changeGraphType(graphType)" ng-bind="graphType">
                        <!-- {{ graphType }} --><!-- See note at top about ng-bind -->
                      </a>
                    </div>
                  </div>
                </div> <!-- end class="buttons" -->
              </div> <!-- end id="visuals" -->

            </div> <!-- end id="sidebar-content" -->
          </div> <!-- end class="sidebar medium-12" -->
        </div> <!-- end class="medium-2 grid-block" -->
      </div> <!-- end grid-block -->
    </div> <!-- end class="grid-frame vertical" -->

    <footer class="bottom-drawer" ng-class="{'open': drawerOpen}">
      <div class="drawer-head" ng-click="drawerOpen = !drawerOpen" ng-bind="drawerOpen ? 'Back to animation' : 'Click here to meet the creators of this site'"></div>
      <div class="grid-block site-details">
        <div class="medium-4 creators">
          <h4 class="meet-us"><strong>Meet the creators of this site</strong><h4>
          <p></p>
          <p><a href="http://liujoycec.github.io" target="_blank">Joyce Liu</a></p>
          <p><a href="http://code.rodmachen.com" target="_blank">Rod Machen</a></p>
          <p><a href="http://www.taylorhayduk.com" target="_blank">Taylor Hayduk</a></p>
          <p><a href="http://www.tgreenidge.com" target="_blank">Tisha Greenidge</a></p>
        </div>
        <div class="medium-8">
          <div class="technologies">
            <img src="client/assets/img/nodejs.svg" id="nodejs">
            <img src="client/assets/img/AngularJS-Shield.png" id="angular">
            <img src="client/assets/img/firebase-logo.png" id="firebase">
            <img src="client/assets/img/afire-logo.png" id="firelogo">
            <img src="client/assets/img/d3js-logo.png" id="d3js">
          </div>
        </div>
      </div> <!-- end of class="grid-block site-details" -->
      <div class="medium-12 copyright">
        Athena &copy; 2015
      </div>
    </footer>

  </body>


<!--     Script for D3 rendering functions (must go at end as it needs animation DIV dimensions) -->

  <script src="client/lib/d3/d3.js" charset="utf-8"></script>
  <script src="client/lib/d3/d3.layout.cloud.js" charset="utf-8"></script>
  <script src="client/app/d3/pie.js" charset="utf-8"></script>
  <script src="client/app/d3/wordCloud.js" charset="utf-8"></script>
  <script src="client/app/d3/treemap.js" charset="utf-8"></script>

</html>
